<!DOCTYPE html>
<html>
<head>
  <title>Blog - Groupbuddies - HomeworkWeek5</title>
  <%= stylesheet_link_tag "default", "style", media: "all", "data-turbolinks-track" => true %>
</head>
<body>

<%= render "layouts/header" %>
<%= render "layouts/menu" %>
<%= render "layouts/slogan" %>
<section class="content">
	<%= yield %>
<section>
<%= render "layouts/read_more" %>
<%= render "layouts/footer" %>
<%= render "layouts/menu" %>

</body>
</html>
