<html>
	
	<body>
		<header class="header">
			<div class="header-logo">
				<a href="#">
					<%= image_tag("logo.png")%>
				</a>	
			</div>	

			<div class="heart-logo">
				<%= image_tag("heart.png")%>
			</div>	
		</header>
		
		<div class="wrap">
			<nav class="nav">
				<ul>
					<li> <a href="#"> All </a> </li>
					<li> <a href="#"> Development </a> </li>
					<li> <a href="#"> Design </a> </li>
					<li> <a href="#"> Business </a> </li>
					<li> <a href="#"> Sys Admin </a> </li>
					<li> <a href="#"> Miscellanea </a> </li>
					<li> <a href="#"> Archive </a> </li>
				</ul>	
			</nav>	
		</div>	
		
		<section>
			<h1 id="quote">Sharing ideas can change the world. It definitely changes us</h1>
		</section>

		<section class="content">
			<div class="page">
				<article class="post">
					<div class="icon">
						<a href="#">
							<%= image_tag("icon-development.png")%>
						</a>	
					</div>	
					
					<header class="post-header">
						<h1 class="title-article">
							<a href="#"> Game Oh! RubyConf Portugal is back in 2015</a></h1>
					</header>	

					<aside class="info">
						Write by <a href="#">Roberto</a> on 19, Mar 2015
					</aside>

					<div class="post-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
					
					<aside class="comments">
						<a href="#">Comment this post</a>
					</aside>
					<div class="share">
						<button type="button">Tweet</button>
					</div>	
					<div class="hire-us">
						Want to hire us? <a href="#" >Get in touch</a>
					</div>	
					<section class="author">
						<%= image_tag("roberto.png")%>
						<div class="author-info">
				              <h2 class="author-title">About Roberto Machado</h2>
				              <p class="description">Founded Group Buddies in 2011. Lean Startup Minho founder. Minho.rb founder. </p>
				              <aside class="more">Read more from <a></a><a href="#">Roberto</a> or follow him on <a></a><a href="#">Twitter</a></aside>
	           			 </div>
					</section>	
					
				</article>	

				<article class="post">
					<div class="icon">
						<a href="#">
							<%= image_tag("icon-development.png")%>
						</a>	
					</div>	
					
					<header class="post-header">
						<h1 class="title-article">
							<a href="#"> Getting Hooked</a></h1>
					</header>	

					<aside class="info">
						Write by <a href="#">Miguel</a> on 17, Mar 2015
					</aside>

					<div class="post-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
					
					<aside class="comments">
						<a href="#">Comment this post</a>
					</aside>
					<div class="share">
						<button type="button">Tweet</button>
					</div>	
					<div class="hire-us">
						Want to hire us? <a href="#" >Get in touch</a>
					</div>	
					<section class="author">
						<%= image_tag("miguel.png")%>
						<div class="author-info">
				              <h2 class="author-title">About Miguel Palhas</h2>
				              <p class="description">Loves programming since ever. Is obsessed with optimizing and automating everything he does. Joined GB for a chance to keep doing what he does best, while becoming more involved in the open source world. </p>
				              <aside class="more">Read more from <a></a><a href="#">Miguel</a> or follow him on <a></a><a href="#">Twitter</a></aside>
	           			 </div>
					</section>	
					
				</article>	

				<article class="post">
					<div class="icon">
						<a href="#">
							<%= image_tag("icon-development.png")%>
						</a>	
					</div>	
					
					<header class="post-header">
						<h1 class="title-article">
							<a href="#"> Accessibility Matters</a></h1>
					</header>	

					<aside class="info">
						Write by <a href="#">Luis</a> on 16, Mar 2015
					</aside>

					<div class="post-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
					
					<aside class="comments">
						<a href="#">Comment this post</a>
					</aside>
					<div class="share">
						<button type="button">Tweet</button>
					</div>	
					<div class="hire-us">
						Want to hire us? <a href="#" >Get in touch</a>
					</div>	
					<section class="author">
						<%= image_tag("luis.png")%>
						<div class="author-info">
				              <h2 class="author-title">About Luis Zamith</h2>
				              <p class="description">Founder and Developer at Group Buddies where he tries to improve the web one website at a time. Loves the tech world, especially applicational design, but can be seen, on occasion, working on user experience problems or even system administration. His motto is “Start small or not at all”. </p>
				              <aside class="more">Read more from <a></a><a href="#">Luis</a> or follow him on <a></a><a href="#">Twitter</a></aside>
	           			 </div>
					</section>	
					
				</article>	

			</div>	
		</section>	
		<section class="read"><a href="#">Want to read more? Check all of our posts here</a>
		</section>
		<footer class="footer"> This is our blog, designed to share our thoughts about the job we love </footer>

		<div class="wrap">
			<nav class="nav">
				<ul>
					<li> <a href="#"> All </a> </li>
					<li> <a href="#"> Development </a> </li>
					<li> <a href="#"> Design </a> </li>
					<li> <a href="#"> Business </a> </li>
					<li> <a href="#"> Sys Admin </a> </li>
					<li> <a href="#"> Miscellanea </a> </li>
					<li> <a href="#"> Archive </a> </li>
				</ul>	
			</nav>	
		</div>	
	</body>	
</html>