<section class="section-article">
  <% @articles.each do |article| %>
  <article>
    <h1 class="h1-article"><%= article.title %></h1>
    <author>Written by <a href="#"><%= article.author %></a> on 27, Feb 2015</author>
    <p>
      <%= article.text %>
    </p>
  </article>

  <hr>

  <div class="author-box">
    <div class="author-picture">
      <%= image_tag("avatar.png", :alt => "avatar image") %>
    </div>
    <div class="author-about">
      <h1 class="h1-author">About <%= article.author %></h1>
      <p>
      Loves programming since ever. Is obsessed with optimizing and
      automating everything he does. Joined GB for a chance to keep
      doing what he does best, while becoming more involved in the
      open source world.
      </p>
      <p class="author-readmore">
      Read more from <a href="#"><%= article.author %></a> or
      follow him on <a href="#">Twitter</a>
      </p>
    </div>
  </div>


<% end %>
</section>
