<p id="notice"><%= notice %></p>
<article class="post">
	<section class="author">
	  <div class="photo">
	    <%= image_tag "foto.png", :title => "Author", :alt => "Author" %>
	  </div>
	  <div class="author-info">
	    <h2 class="author-title">About <%= @user.firstname %> <%= @user.lastname %></h2>
	    <p class="author-desc"><%= @user.about %></p>
	    <aside class="author-more">Follow me on <a></a><%= link_to "Twitter", @user.twitter, target: "_blank" %></aside>
	  </div>
	  <div class="button-back">
	   <%= link_to 'Back', posts_path %>
		</div>
	</section>
</article>


