<div class="post">
	<%= image_tag("development-16fb1995786ab87fe8f3a675ad944f9e.png", :alt => "like", :class => "postbullet") %>
	<h1 class="posttitle">Game On! RubyConf Portugal is back in 2015</h1>
	<h4 class="postdate">Written by Roberto on 27, Feb 2015</h4>
	<p class="postbody"><%= @message1 %></p>

	<a href="#" class="commentlink">Comment this post</a>

	<h4 class="hirelink">Want to hire us? <a href="#">Get in touch</a></h4>

	<hr>

	<div class="author">
		<%= image_tag("roberto-machado-313485b8bfc3bef5b52c0946a9e5e6e3.png", :alt => "Roberto Machado", :class => "authorimg") %>
		<div class="authorinfo">
			<h1 class="aboutauthor">About Roberto Machado</h1>
			<p class="authordescription">Founded Group Buddies in 2011. Lean Startup Minho founder. Minho.rb founder.</p>
			<p class="readmore">Read more from <a href="#">Roberto</a> or follow him on <a href="#">Twitter</a></p>
		</div>
	</div>
</div>

<div class="post">
	<%= image_tag("design-41348efc8bef0f921f9b4a01731f23da.png", :alt => "like", :class => "postbullet") %>
	<h1 class="posttitle">For Makers</h1>
	<h4 class="postdate">Written by Jo達o on 10, Dec 2014</h4>
	<p class="postbody"><%= @message2 %></p>

	<a href="#" class="commentlink">Comment this post</a>

	<h4 class="hirelink">Want to hire us? <a href="#">Get in touch</a></h4>

	<hr>

	<div class="author">
		<%= image_tag("joao-ferreira-d136a2771f56c7a300377ad59bad91bb.png", :alt => "Jo達o Ferreira", :class => "authorimg") %>
		<div class="authorinfo">
			<h1 class="aboutauthor">About Jo達o Ferreira</h1>
			<p class="authordescription">Believes that Design is not about mastering a tool, but about mastering people. Knows some of Godfather's quotes by heart.</p>
			<p class="readmore">Read more from <a href="#">Jo達o</a> or follow him on <a href="#">Twitter</a></p>
		</div>
	</div>
</div>